body {
    background-color: #d4ecdd;
    color: #152d35;
   
    font-family: "Roboto", sans-serif;
  }
  main {
    width: 99vw;
    height: 99vh;
    background-color: #d4ecdd;
    margin: auto;
    text-align: center;
  }
  #title {
    margin: 30px auto 0.5em auto;
    padding-top: 20px;
    word-spacing: 5px;
    font-size: 40px;
  }
  #img-div {
    margin: 10px 0px;
    background-color: #9cccd6;
    
    
  }
  #image {
    width: 40%;
    height: 40%;
    margin:auto;
  /*   max-width:100; */
  /*     hello */
  /*   width:100%; */
    height:auto;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  #img-caption {
    padding: 10px;
    font-size: larger;
    display: block;
  }
  #tribute-heading {
    margin: 35px auto;
    font-size: 35px;
    word-spacing: 5px;
  }
  #tribute-list {
    margin: auto;
    width: 50%;
    padding: auto;
  }
  li {
    color: #152d35;
    text-align: left;
    line-height: 35px;
    font-size: 16px;
  }
  #speech{
      text-transform:uppercase;
      font-size: 40px;
      font-family: cursive;
      margin: auto;
      
  }
  #speaker{
    display:inline;
    margin-right:45%;
    margin-left:29%;
  }
  h6{
  
    font-size:25px;
    margin:50px auto 20px auto;
  }